<div id="chapter-list-container" class="accordion">
    <li class="nav-header">Chapters</li> 
    <li><a id="add-chapter" class="btn btn-primary"> Add Chapter </a></li>
</div>
<p class="fallback">You have not added any chapters yet 

