    <div class="modal-header">
        <a class="close" href="/" data-dismiss="modal">X</a>
        <h3>Login with your twitter or Facebook account</h3>
    </div>
    <div id="modal-body">
        <p><img class="sign-in-button twitter" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" alt="Sign in with Twitter" /></p>
        <p><button class="facebook">Log in with Facebook</button></p>
    </div>
    <div id="modal-footer">
        <!-- nothing in footer -->
    </div>
