
<div class="row-fluid">
    <div id="press-sidebar-container" class="span3">
    </div>
    <div class="span9">
        <div id="press-tabs-container">
        </div>
        <div id="press-main-container">
        </div>
    </div>
</div>
