 <div class="tab-content">
            <div class="tab-pane active" id="create">
                <div id="editor">
                    <form> <textarea id="book-editor"
                            style="width:810px;height:700px;" placeholder="Start writing your book ..."></textarea>
                        <input type="submit" value="Save"
                        id="book-editor-save" />
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="package">
                <p>I am package</p>
            </div>
            <div class="tab-pane" id="publish">
                <p>I am publish</p>
            </div>
            <div class="tab-pane" id="feedback">
                <p>I am feedback</p>
            </div>
        </div>

