<div id="section-list-container" class="nav nav-pills nav-stack">
    <li class="nav-header">Sections</li> 
<a id="create-section" class="btn btn-primary"> Create One </a> </p>
</div>
<p class="fallback">You have not added any sections yet 

